<?xml version="1.0" encoding="UTF-8"?> 
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance  http://www.springmodules.org/schema/cache/springmodules-cache.xsd http://www.springmodules.org/schema/cache/springmodules-ehcache.xsd"    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   
    http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd       
     ">    

	<display-name>施工承载能力评估系统</display-name>



	<!-- Spring 上下文 -->
	<!-- The definition of the Root Spring Container shared by all Servlets
		and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/spring-root.xml,classpath:spring/spring-task.xml</param-value>
	</context-param>

	<!-- 通过contextConfigLocation参数制定spring配置文件启动业务层的spring容器 -->
	<listener>

		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
		<!-- 获取HttpServletRequest -->
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<!-- seeesion 监听 -->
	<listener>
		<listener-class>com.ronyao.cca.ui.SessionListener</listener-class>
	</listener>

	<!-- 所有请求转换成UTF8编码 -->
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!--spring mvc -->
	<servlet>
		<servlet-name>controller</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/spring-mvc.xml,
				classpath:spring/spring-aop.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- 不规范的URL映射 -->
	<servlet-mapping id="ServletMapping_1449899660654">
		<servlet-name>controller</servlet-name>
		<url-pattern>/controllers/*</url-pattern>
	</servlet-mapping>

	<!-- 规范的URL映射 -->
	<servlet-mapping>
		<servlet-name>controller</servlet-name>
		<url-pattern>/srv/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>controller</servlet-name>
		<url-pattern>/ui/*</url-pattern>
	</servlet-mapping>

	<!-- 缺省主页面 -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- 配置session  过期时间  分钟-->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

</web-app>
